.App {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-custom {
    margin: 2px;
}

.table-sm th,
.table-sm td {
    padding: 0.5rem;
}